.lead {
  font-family: Inter, Arial, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  line-height: 100px;
  font-weight: 900;
  font-size: 6em;
  text-align: center;
  width: 793px;
  height: 200px;
  margin: 90px 0 32px;
}

.lead__sub-title {
  font-size: 1.875em;
  text-align: center;
  width: 720px;
  height: 72px;
  margin: 0 0 64px;
}

.lead__image {
  max-width: 984px;
  height: 615px;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  filter: grayscale(100%);
}

.lead__text {
  max-width: 984px;
  display: flex;
  flex-direction: column;
}

.lead__description {
  font-size: 3.375em;
  font-weight: 900;
  line-height: 58px;
  width: 785px;
  height: 116px;
  margin: 92px 0 0;
}

.lead__quote {
  font-size: 1.5em;
  width: 720px;
  height: 102px;
  line-height: 34px;
  margin: 40px 0 10px;
}

.lead__quote-author {
  position: relative;
  right: 70px;
  margin: 0 0 32px;
  text-align: end;
}

.lead__passage {
  width: 720px;
  height: 156px;
  margin: 0 0 188px;
  line-height: 26px;
}
