.places {
  max-width: 100%;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  margin: 92px 0 0;
}

.place__list {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.place {
  max-width: 987px;
  list-style-type: none;
  display: flex;
  gap: 40px;
  margin: 80px auto 0;
}

.place:first-child {
  margin: 0 auto;
}

.place__title {
  font-size: 4.5em;
  line-height: 76px;
  font-weight: 900;
  max-width: 460px;
  margin: 0 0 48px;
}

.place__image {
  display: block;
  max-width: 460px;
  min-height: 460px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0 0 48px;
}

.place__button {
  max-width: 256px;
  min-height: 48px;
  padding: 0 10px;
  background-color: #0278fe;
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 1.125em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-out 0s;
}

.place__button:hover {
  background-color: #0063d2;
}

.place__artist-title {
  color: #aaa;
  font-size: 0.75em;
  margin: 107px 0 8px;
}

.place__artist {
  font-size: 18px;
  line-height: 22px;
  margin: 8px 0 48px;
}

.place__artist:nth-last-child(4n) {
  margin: 0 0 48px;
}

.place__multiple-artist {
  display: block;
}

.place__description {
  max-width: 484px;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 25px;
}

.place__description:last-of-type {
  margin: 0;
}
